cef_user_data/
composer/
configstore/
dconf/
discord/
enchant/
evolution/
gedit/
gnome-session/
goa-1.0/
gtk-2.0/
gtk-3.0/
i3
ibus/
nautilus/
polybar
pulse/
ranger/
README.md
spotify/
update-notifier/
user-dirs.dirs/
user-dirs.locale/
wal

