cef_user_data/
composer/
configstore/
dconf/
discord/
enchant/
evolution/
gedit/
gnome-control-center/
gnome-session/
goa-1.0/
gtk-2.0/
gtk-3.0/
ibus/
nautilus/
pulse/
ranger/
spotify/
update-notifier/
user-dirs.dirs
user-dirs.locale
vivaldi/
tizonia/
kusti18/
ckb-next/
cava/
autostart/
mimeapps.list
gnome-initial-setup-done
*.save



